<?xml version="1.0"?>
<!--
/**
 * @module  Malithmcr_Testimonials
 * @author  Malith Priyashan
 * @licence OSL 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="testimonials" frontName="testimonials">
            <module name="Malithmcr_Testimonials" />
        </route>
    </router>
</config>
